*{margin: 0; padding: 0}
.navbar {
  width: 90%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #dedede;
}
.navbar ul {
  list-style: none;
  text-align: center;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before {
  transition: all .5s;
}
.navbar ul li a:hover {
  color: #555;
}
.navbar ul li a {
  position:relative;
  z-index: 1;
  color: #A45922!important;
}
.navbar ul li a:hover {
  color: #fff!important;
}
.navbar ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ' ';
  color: #fff!important;
  background: #A45922;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.navbar ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  color: #fff!important;
}
.active{
    border-bottom: solid #A45922;
}


/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}


/*----  Main Style  ----*/

#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 .container-fluid{
    padding-left: 7%;
    padding-right: 7%;

}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
    margin-left: 8%;
    margin-right: 8%;
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 150px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 10px 30px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 5%;
  margin-bottom: 5%;    
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #A45922;
}

    text-transform: uppercase;
    color: #111;
  }
  
  a{
    display: inline-block;
    font-family: Arial;
    color: #777;
    font-size: 14px;
    margin: 10px;
    transition: all .2s linear;
    
    &:hover{color: #d63031}
  }
}


*
{
  margin: 0;
  padding: 0;
  border: 0
}


img
{
  display: block;
  width: 100%;
  height: 100%
}
/**-------------- Start Slider ---------------**/
#slider
{
    width: 100%;
    height: 150%;
    position: relative;
    margin: auto;
    padding: 100px 0
}

#slider input{display: none}

#slider .slides
{
    position:absolute; 
    width: 100%;
    height: 150%;
}

#slider .slides .slide
{
    width: 33.33333333%;
    height: 100%; 
    float: left;
    
    filter: alpha(opacity=70); /* for IE */
    opacity: .7
}

#slider .arrow label
{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 0;
    width: 100px;
    height: 45px;
    margin-top: -22.5px;
    text-align: center;
    display: none;
    
}

#slider .next-arrow label{right: 0; left: auto}

#slider .arrow label:hover .thumb
{
    -webkit-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
    
    -webkit-transition: transform .5s ease-in;
    transition: transform .5s ease-in
}

#slider .arrow label i
{
    display: block;
    width: 40%;
    height: 45px;
    background-color: #A45922;
    color: #fff!important;
    line-height: 45px;
}

#slider .arrow label .thumb
{
    display: block; 
    width: 60%; 
    height: 45px
}

#slider .prev-arrow label i{float: left}

#slider .prev-arrow label .thumb
{
    float: right;
    
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

#slider .next-arrow label i{float: right}

#slider .next-arrow label .thumb
{
    float: left;
    
    -webkit-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transform: rotateY(90deg);
    
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
}

#slide-1-radio:checked ~ .slides .slide:first-child
{
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 20px rgba(255,255,255,.7);
    
    filter: alpha(opacity=100); /* for IE */
    opacity: 1;
    
    -webkit-transform: translateX(100%) scale(1.2);
    -ms-transform: translateX(100%) scale(1.2);
    transform: translateX(100%) scale(1.2);
    
    -webkit-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out
}

#slide-1-radio:checked ~ .slides .slide:nth-child(2)
{
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    
    -webkit-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out
}

#slide-1-radio:checked ~ .prev-arrow #prev-3-arrow,
#slide-1-radio:checked ~ .next-arrow #next-2-arrow
{
    display: inline-block
}

#slide-2-radio:checked ~ .slides .slide:nth-child(2)
{
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 20px rgba(255,255,255,.7);
    
    filter: alpha(opacity=100); /* for IE */
    opacity: 1;
    
    -webkit-transform: translateX(0) scale(1.2);
    -ms-transform: translateX(0) scale(1.2);
    transform: translateX(0) scale(1.2);
    
    -webkit-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out
}

#slide-2-radio:checked ~ .slides .slide:first-child
{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    
    -webkit-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out
}

#slide-2-radio:checked ~ .prev-arrow #prev-1-arrow,
#slide-2-radio:checked ~ .next-arrow #next-3-arrow
{
    display: inline-block
}

#slide-3-radio:checked ~ .slides .slide:last-child
{
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 20px rgba(255,255,255,.7);
  
    filter: alpha(opacity=100); /* for IE */
    opacity: 1;
    
    -webkit-transform: translateX(-100%) scale(1.2);
    -ms-transform: translateX(-100%) scale(1.2);
    transform: translateX(-100%) scale(1.2);
    
    -webkit-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out
}

#slide-3-radio:checked ~ .slides .slide:nth-child(2)
{
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    
    -webkit-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out
}

#slide-3-radio:checked ~ .prev-arrow #prev-2-arrow,
#slide-3-radio:checked ~ .next-arrow #next-1-arrow
{
    display: inline-block
}
/**-------------- End Slider ---------------**/

/**----------- Start Media ----------**/
@media screen and (max-width: 768px)
{
  #slider{width: 100%; height: 175px}
    
  #slider .slides{height: 175px}
    
  #slider .arrow label{width: 80px}
}
/**----------- End Media ----------**/


$color-white: #ffffff;
$color-black: #252a32;
$color-light: #f1f5f8;
$color-red: #d32f2f;
$color-blue: #148cb8;

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $color-black;
  background: $color-white;
}

.container {
  max-width: 75rem;
  width: 100%;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.main {
  .container {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .card-image {
            background: $color-white;
            border: none;
            outline: none;
            box-shadow: $box-shadow;
            border-radius: 2px;

            img {
              display: block;
              position: relative;
              left: 0;
              bottom: 0;
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }

      .swiper-pagination {
        &-bullet {
          opacity: 0.8;
          background: $color-black;
          &-active {
            background: $color-white;
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        background-image: none;
        background-size: 0;
        background-repeat: no-repeat;
        background-position: 0;
        margin-top: -1rem;

        .arrow-icon {
          font-size: 2rem;
          color: $color-white;
        }
      }
    }
  }
}



.half-half-image-text{
  padding: 2% 0px;
  h1{
    color: #800000;
  }
  .content{
    height: 100%;
    display:flex;
    align-items: center;
    padding: 35px 0px;
    p{
      font-size: 22px;
    }
  }
  .img{
    min-height: 320px;
    height: 100%;
    border-radius: 10px;
  }
}

.offer{
    margin-top: 20%;
}
.offer span{
    color: #A45922;
    font-size: 1.4rem;
    font-family: 'Lobster', cursive;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

#demo{
    margin-left: 10%;
    margin-right: 10%;
}



footer{
    bottom: 0;
}
.footer-distributed{
	background-color: #6E2C00;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #F9E79F;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #F9E79F;
	text-decoration: none;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #AEB6BF;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	font-size: 20px;
	color: #F9E79F;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}



body {
  margin: 0;
  padding: 0;
}

#contact {
  width: 100%;
  height: 80vh;
  background-color: white;
  padding-bottom: 200px;

}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 40px 'Oswald', sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 900px;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-weight: 200;
}

.form-control, textarea {
  max-width: 370px;
  max-height: 220px;
  background-color: #cdf5f3;
  color: #343d3d;
  letter-spacing: 1px;
}

.send-button {
  background-color: #A45922!important;
  border:0;
  margin-top: 15px;
  margin-bottom:30px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  color: #fff!important;

}

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
  color: #fff!important;

}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: 20px;
  padding-right: 0px;
}

.list-item {
  line-height: 4;
  color: #A45922;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1px;
  color: #bbb;
}

.place {
  margin-left: 10px;
}

.phone {
  margin-left: 30px;
}

.gmail {
  margin-left: 10px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #A45922;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #A45922;
}

.social-media-list li {
  position: relative;
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #A45922;
  background-color: #F9E79F;
  cursor: pointer;
  transition: all .2s ease-in-out;
}


.social-media-list li:hover {
  background-color: #A45922;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #fff;
}



hr {
  border-color: #e74d3c; ;
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
    #contact {
        height: 1000px;
    }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;

  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
    }
  .section-header{
    font-size: 50px;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }

  .name, .email, textarea {
    width: 280px;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}









.container1 { /*border:1px solid#ddd;*/ }
.title-border { width:130px; height:1px; margin:10px auto 30px; background-color:#e1e1e1; display:block; }
.title-border span { width:60px; height:2px; margin:auto; background-color:#fc0509; display:block; }
.title-border-left { width:130px; height:2px; margin:10px 0 30px; background-color:#e1e1e1; display:block; }
.title-border-left span { width:60px; height:2px; background-color:#fc0509; display:block; }
.row text-center gallery{
    display: table;
    width: 100%;
}








body {
	margin: 0 auto;
}

// Begin Code for Polaroid
body.hero {
    min-width: 0;
    width: 100%;
}
body.hero #main-content {
	max-width: 100%!important;
}

#landing-page-wrap * {
	box-sizing: border-box!important;
}

#landing-page-wrap {
	background: url(http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/header-bg-slice.jpg), url(http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/footer-bg-slice-2-opt.jpg);
	background-position: top center, bottom center;
	background-repeat: repeat-x;
	box-sizing: border-box;
	font-size: 16px;
	padding: 0;
	position: relative;	
	background-color: #e5f4ff;
	font-size: 16px;
	overflow: hidden;
	
	* {
		box-sizing: border-box;
	}
	*,
	*::after {
		box-sizing: inherit;
	}
	img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}
	h1, h2, h3, h4 {
		color: #3d7ec5;
		line-height: 1.3;
		margin-bottom: .5em!important;
	}
	h2, h4 {
		font-family: MuseoSans-500, arial, helvetica, sans-serif;
		font-size: 2em;
		line-height: 1.3;
		letter-spacing: .5px;
	}
	p {
		font-family: 'UniversLTPro-55Roman', arial, helvetica, sans-serif;
		margin-top: 0!important;
		padding-top: 0!important;
		font-size: 18px;
		// color: #4c5057;
			margin: 0 auto 1.4em;
			font-family: MuseoSans-500, arial, helvetica, sans-serif;
			line-height: 1.4;
			-webkit-font-smoothing: antialiased;
			// font-weight: 400!important;
			-moz-osx-font-smoothing: grayscale;
			// -webkit-text-stroke: 0.25px;
	}
	.content-container {
		width: 100%;
		max-width: 1000px;
		padding: 0 20px;
		margin: 0 auto;
	}
	hr {
		color: #3d7ec5;
		max-width: 700px;
	}
	.divider {
		background: url(http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/divider-2.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 50px;
		width: 100%;
		display: block;
		max-width: 800px;
		margin: 0 auto;
	}
}

#hero {
	font-size: 1em;
	text-align: center;
	// min-height: 500px;
	padding: 8em 0 0;
	// background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/976730/header-crop.jpg);
	background-size: auto 100%;
	
	.hero-logo {
		max-width: 450px;
		width: 96%;
		margin: 0 auto;
	}
	.hero-title {
		max-width: 580px;
		width: 96%;
		margin: 0 auto;
	}
	.title {
		font-family: MuseoSans-500, arial, helvetica, sans-serif;
			-webkit-font-smoothing: antialiased;
			font-weight: 600!important;
			-moz-osx-font-smoothing: grayscale;
		font-size: 3.6em;
		letter-spacing: 1.05px;
		text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
		margin-top: .2em;
	}
	h2 {
		font-weight: normal;
		max-width: 400px;
		margin: 0 auto 1.4em!important;
	}
}
@media screen and (max-width: 520px) {
	#hero {
		font-size: .7em;
		font-size: 3vw;
	}
}


#featured-products {
	
	background: url(http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/snowflake-background.png);
	background-repeat: repeat;
	background-position: top left;
	
	.product-row {
		padding: 120px 0 0;
		align-items: center;

		.product-image {
			max-width: 400px;
			margin: 0 auto;
		}
		.product-text {
			background: transparent;
		}
		.product-title {
			font-size: 28px;
			color: #3d7ec5;
		}
		p {
			line-height: 1.5;
			font-size: 19px;
		}
		.product-buttons {
			// align-self: flex-end;
			margin: 1em 0;
			
		}
		a.shop.btn {
			font-size: 20px;
			// font-weight: 600;
			color: #222;
			text-decoration: none;
			font-family: 'UniversLTPro-55Roman', arial, helvetica, sans-serif;
			margin: 10px 0 0;
    // text-transform: uppercase;
    font-family: 'UniversLTPro-55Roman',arial,helvetica,sans-serif;
    padding: 14px 0 10px 2em;
    display: block;
    position: relative;
    background: url(http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/btn-icon-gray.png) no-repeat left center;
		background-size: auto;
		transition: filter .15s;
			-webkit-filter: opacity(1);
  	filter: opacity(1);
		}
		a.shop.btn:hover {
			// color: #444444;
			
			-webkit-filter: opacity(.75);
  	filter: opacity(.75);
		}
	}
	.product-row::after {
		content: "";
		display: block;
		clear: both;
		float: none;
	}
	.product-row:nth-child(odd) {
			flex-direction: row-reverse;
	}
	@media only screen and (min-width: 620px) {
		/* .product-row:nth-child(2n+2) {
			margin-top: 300px;
		} */
		.product-row:nth-child(odd) .product-image {
			padding-left: 5%;
			padding-right: 0;
		}

		.product-row {
			display: flex;
			margin-bottom: 0;
			// max-height: 340px;
			min-height: 380px;
			align-items: center;

			.product-image {
				// max-width: 420px;
				width: 45%;
				float: left;
				flex: 1 1 45%;
				padding-right: 5%;
				max-width: 45%!important;
				min-width: 320px;
			}
			.product-text {
				// display: flex;
				position: relative;
				width: 55%;
				float: right;
				flex: 1 1 55%;
				max-width: 55%;
				// flex-flow: column;
    		// justify-content: center;
    		// align-items: flex-start;
				
				h4 {
					margin: 0 0 .5em 0;
					font-family: MuseoSans-500, arial, helvetica, sans-serif;
				}
				p {
					// padding-bottom: 1.8em;
				}
				.product-buttons {
					// display: flex;
					// position: absolute;
					// bottom: 0px;
					// flex-flow: row wrap;
					// align-self: flex-end;
					
					.btn {
						margin-right: 1em;
					}
				}
			}
		}
	}
}
#cta {
	padding: 30px 0;
}
#cta .content-container {
    text-align: center;
}
#cta .btn {
		display: block;
    background-color: transparent;
    border: .13em solid white;
    text-align: center;
    font-family: 'UniversLTPro-55Roman', arial, helvetica, sans-serif;
    color: white;
    font-size: 2.1em;
		display: block;
		// font-size: 5vw;
		font-weight: normal;
		letter-spacing: 1px;
    text-decoration: none;
    padding: .375em .8em .25em;
    border-radius: .4em;
    margin-top: 0.25em;
    margin-bottom: 1.25em;
    line-height: 1.4;
    -webkit-transition: all .3s;
    transition: all .2s ease-in-out;
    background-color: #2b7bb9;
}
#cta .btn::after {
	display: block;
	clear: both;
	content: "";
}
#cta .btn:hover {
    color: #2b7bb9;
    background-color: white;
	border-color: #2b7bb9;
}
@media screen and (min-width: 620px) {
	#cta .btn {
			display: inline-block;
	}
}
@media screen and (max-width: 900px) {
	#cta {
		// font-size: .7em;
		font-size: 2.0vw;
	}
}
@media screen and (max-width: 619px) {
	#cta {
		// font-size: .7em;
		// font-size: 2.4vw;
	
		.btn {
			padding: .975em .8em .85em;
		}
	
	}
}
/* .shop.btn:hover {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
} */


/* Animate Elements*/

@media only screen and (min-width: 620px) {

	.animation-element,
	.product-row > div {
		opacity: 0!important;
		position: relative;
		// width: 40%;
	}
	/*animation element sliding left*/

	.animation-element,
	.product-row > div {
		-moz-transition: all 500ms ease-in-out;
		-webkit-transition: all 800ms ease-in-out;
		-o-transition: all 800ms ease-in-out;
		transition: all 800ms ease-in-out;
		transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	}
	.product-row:nth-child(even) .product-image,
	.product-row:nth-child(odd) .product-text {
		-moz-transform: translate3d(-100px, 0px, 0px);
		-webkit-transform: translate3d(-100px, 0px, 0px);
		-o-transform: translate(-100px, 0px);
		-ms-transform: translate(-100px, 0px);
		transform: translate3d(-100px, 0px, 0px);
	}
	.animation-element.slide-right,
	.product-row:nth-child(odd) .product-image,
	.product-row:nth-child(even) .product-text {
		-moz-transform: translate3d(100px, 0px, 0px);
		-webkit-transform: translate3d(100px, 0px, 0px);
		-o-transform: translate(100px, 0px);
		-ms-transform: translate(100px, 0px);
		transform: translate3d(100px, 0px, 0px);
	}

	.product-row .in-view {
		opacity: 1!important;
		-moz-transform: translate3d(0px, 0px, 0px)!important;
		-webkit-transform: translate3d(0px, 0px, 0px)!important;
		-o-transform: translate(0px, 0px)!important;
		-ms-transform: translate(0px, 0px)!important;
		transform: translate3d(0px, 0px, 0px)!important;
	}
}

#about{
    margin-top: 3%;
}

#about span{
    color: #A45922;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
}
#about p{
    font-size: 18px; 
    letter-spacing: 0.6px;
}






/* Responsive placing of the boxes*/
.container {
		padding: 1% 1% 0% 1%;
}
.container:after {
		content: '';
		display: inline-block;
		width: 100%;
}

/* Inside the box */

.box {
		width: 96%;
		margin:2%;
		padding-bottom: 96%;
		height: 0;
		position: relative;
		float: left;
		cursor: pointer;
		overflow: hidden;
/*		box-shadow: 0px 3px 18px 1px #fff;*/
		
}

.box:after {
		content: '';
		position: absolute;
		background-color: #000;
		opacity:0;
		z-index: 55;
		width: 100%;
		height: 100%;
		-webkit-transition: all .15s ease-out;
		-moz-transition: all .15s ease-out;
		-ms-transition: all .15s ease-out;
		-o-transition: all .15s ease-out;
		transition: all .15s ease-out;
}

.box:hover::after {
		background-color: #000;
		opacity:.4;
}

.container .box .caption {
		position: absolute;
		z-index: 60;
		width: 90%;
		margin-left: 5%;
		top: 50%;
		-webkit-transform: scale(3);
		-moz-transform: scale(3);
		-ms-transform: scale(3);
		-o-transform: scale(3);
		transform: scale(3);
		text-align: center;
		-webkit-transition: all .15s ease-out;
		-moz-transition: all .15s ease-out;
		-ms-transition: all .15s ease-out;
		-o-transition: all .15s ease-out;
		transition: all .15s ease-out;
		font: 1.4em normal Arial, sans-serif;
		color: #fff;
		opacity: 0;
}

.box:hover .caption {
		-webkit-transform: scale(1) translate(0%, -50%);
		-moz-transform: scale(1) translate(0%, -50%);
		-ms-transform: scale(1) translate(0%, -50%);
		-o-transform: scale(1) translate(0%, -50%);
		transform: scale(1) translate(0%, -50%);
		opacity: 1;
}

.box img {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 50;
		-webkit-transition: all .15s ease-out;
		-moz-transition: all .15s ease-out;
		-ms-transition: all .15s ease-out;
		-o-transition: all .15s ease-out;
		transition: all .15s ease-out;
}

.box:hover img {
	height: 150%;
}
/* media changes, changing number of columns */

@media all and (min-width: 350px){
  .container .box{
		width: 48%;
		margin:1%;
		padding-bottom:48%;
	}
}

@media all and (min-width: 800px){
  .container .box{
		width: 31.3333%;
		padding-bottom:30%;
	}
}
@media all and (min-width: 1200px){
  .container .box{
		width: 23%;
		padding-bottom:23%;
	}
}









        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {}
        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            outline: none;
        }
        
        a,
        a:active,
        a:focus {
            color: #333;
            text-decoration: none;
            transition-timing-function: ease-in-out;
            -ms-transition-timing-function: ease-in-out;
            -moz-transition-timing-function: ease-in-out;
            -webkit-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            transition-duration: .2s;
            -ms-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -webkit-transition-duration: .2s;
            -o-transition-duration: .2s;
        }
        
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        img {
    max-width: 100%;
    height: auto;
}
span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.section-head {
  margin-bottom: 60px;
}
.section-head h4 {
  position: relative;
  padding:0;
  color:#f91942;
  line-height: 1;
  letter-spacing:0.3px;
  font-size: 34px;
  font-weight: 700;  
  text-align:center;
  text-transform:none;
  margin-bottom:30px;
}
.section-head h4:before {
  content: '';
  width: 60px;
  height: 3px;
  background: #A45922;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right:0;  
  margin:0 auto;
}
.section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color:#2f2f2f
}
p.service_text{
  color:#cccccc !important;
  font-size:16px;
  line-height:28px;
  text-align:center;    
}
.section-head p, p.awesome_line{
  color:#818181;
  font-size:16px;
  line-height:28px;
  text-align:center;  
}

.extra-text {
    font-size:34px;
    font-weight: 700;
    color:#2f2f2f;
    margin-bottom: 25px;
    position:relative;
    text-transform: none;
}
.extra-text::before {
    content: '';
    width: 60px;
    height: 3px;
    background: #f91942;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}
.extra-text span {
    font-weight: 700;
    color:#f91942;
}
.item {
    background: #fff;
    text-align: center;
    padding: 10px 10px;
    -webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
    box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    border:5px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 20px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}
.item:hover{
    background:#A45922;
    box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
    background:#fff;
    border-radius:10px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}
.item:hover h6, .item:hover p{
    color:#fff;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}
.item .icon {
    font-size: 40px;
    margin-bottom:25px;
    color: #A45922;   
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
}
.item .feature_box_col_one{
    background:#FCF3CF;
    color:#A45922;
}
.item .feature_box_col_two{
    background:#FCF3CF;
    color:#A45922;
}
.item .feature_box_col_three{
    background:#FCF3CF;
    color:#A45922;
}
.item .feature_box_col_four{
    background:#FCF3CF;
    color:#A45922;
}
.item .feature_box_col_five{
    background:#FCF3CF;
    color:#A45922;
}
.item .feature_box_col_six{
    background:#FCF3CF;
    color:#A45922;
}
.item p{
    font-size:15px;
    line-height:26px;
}
.item h6 {
    margin-bottom:20px;
    color:#2f2f2f;
}
.mission p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
}
.mission i {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #A45922;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
}
.mission .small-text {
    margin-left: 10px;
    font-size: 13px;
    color: #666;
}
.skills {
    padding-top:0px;
}
.skills .prog-item {
    margin-bottom: 25px;
}
.skills .prog-item:last-child {
    margin-bottom: 0;
}
.skills .prog-item p {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
    width: 100%;
    height: 10px;
    background: #e0e0e0;
    border-radius:20px;
    position: relative;
}
.skills .prog-item .skills-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #A45922;
    width: 10%;
    border-radius: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
    content: attr(data-value);
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 10px;
    font-weight:600;    
    color: #fff;
    background:rgba(0, 0, 0, 0.9);
    padding: 3px 7px;
    border-radius: 30px;
}

